use Mix.Config

config :pleroma, Pleroma.Web.Endpoint,
   url: [host: "{{pleroma_link_host}}", scheme: "{{pleroma_link_scheme}}", port: {{pleroma_link_port}}],
   http: [port: {{pleroma_port}}],
   secret_key_base: "{{pleroma_secret_key}}"

config :pleroma, :instance,
  name: "{{pleroma_instance_name}}",
  description: "{{pleroma_desc}}",
  email: "{{pleroma_admin_email}}",
  limit: {{pleroma_char_limit}},
  registrations_open: {{pleroma_signup_open}}

config :pleroma, Pleroma.Upload,
  filters: [Pleroma.Upload.Filter.Dedupe]

config :pleroma, :media_proxy,
  enabled: false,
  redirect_on_failure: true
  #base_url: "https://cache.pleroma.social"

# Configure your database
config :pleroma, Pleroma.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{pleroma_user}}",
  password: "{{pleroma_db_passwd}}",
  database: "{{pleroma_user}}",
  hostname: "{{pleroma_db_host}}",
  pool_size: 10,
  timeout: 60000,
  pool_timeout: 60000
